.grid-container {
    display: grid;
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: 56px calc(100vh - 56px);
    height: auto;
    /* column-gap: 24px; */
    box-sizing: border-box;
    /* overflow: hidden; */
    position: relative;
}
