.main-page__container {
    background-color: #eceef1;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0 24px;
}


/*----- main-page__header -----*/
.main-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 16px;
}

.main-page__header-title {
    font-size: 24px;
    font-weight: 700;
}

/*----- main-page__content -----*/
.main-page__content {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* main-page__content__toolbar */
.content__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

.content__toolbar-search:hover {
    outline: none;
    border: 1px solid #39AC66;
    cursor: pointer;
    border-radius: 4px;
}

/*----- main-page__content__footer -----*/
.content__footer {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 6px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 16px 16px;
    background-color: #fff;
    z-index: 2;
    /* display: none; */
}

/*--- footer__left ---*/


/*--- footer__right ---*/

.content__footer .footer__right {
    display: flex;
    align-items: center;
}

/* footer__combobox */
.paging__combobox {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.paging__combobox__title {
    font-size: 14px;
    color: #6d6d6d;
}

.combobox .paging__combobox__input {
    width: 76px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #CEEAD9;
    margin: 0 6px;
    padding: 8px 8px 8px 12px; 
}

.paging__combobox__input:focus-visible {
    outline: none;
	border: 1px solid #089740;
	cursor: text;
	border-radius: 4px;
}




/* paging__navigation */
.footer__right .paging__navigation {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 12px 16px;
}

.paging__navigation .paging__navigation-main {
    display: flex;
}

.paging__navigation .paging__navigation-button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: unset;
}

.paging__navigation button[disabled] {
    cursor: default;
}

.paging__navigation__title {
    font-size: 14px;
    color: #6d6d6d;
    margin-right: 16px;
}

.paging__navigation {
    display: flex;
}

.paging__navigation-button.pre-page {
    margin-right: 12px;
}

.paging__navigation-button.next-page {
    margin-right: 0;
}



