.formEmployee {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}

.formEmployee__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    width: 80%;
    height: 95%;
    box-sizing: border-box;
}

/*--- header ---*/
.formEmployee .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    width: 100%;
    padding: 32px 32px 32px;
}

.formEmployee .container__header--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.formEmployee .container__header__title {
    font-weight: 700;
    font-size: 24px;
    padding-right: 24px;

}

.formEmployee .formEmployee__container .container__header__input {
    display: flex;
    align-items: center;
    padding-right: 24px;
}

.formEmployee .container__header__input .checkbox-name {
    padding: 12px;
}

.formEmployee .checkbox-wrap {
    position: relative;
}

.container__header--right {
    display: flex;
    position: relative;
}



/*--- body ---*/
/*---not empty ---*/
.formEmployee .container__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 32px 32px 32px;
    width: 100%;
}

.formEmployee .body--basic-info {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding-bottom: 16px;
}

.form-group1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    padding-bottom: 16px;

}

.form-group2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 16px;
}

.form-label {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 6px;
}

.form-message {
    color: red;
}

.formEmployee .container__body .input {
    padding: 0 12px 0 10px;
    margin-right: 12px;
}

/* .formEmployee .body--basic-info {
    display: flex;
    height: 50%;
} */

.formEmployee .info--notEmpty {
    width: 50%;
    padding-right: 24px;
}



/*---*/
/*---*/
/*--- optional info */
.formEmployee .info--optional {
    flex: 1;
}

.form-label--gender {
    padding-left: 14px;
}

.gender-option {
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

.gender-select {
    flex: 1;
    align-items: center;
}

.male {
    padding-left: 12px;
}

.female {
    padding-left: 12px;
}



/*---*/
/*---*/
/*--- contact-info ---*/
.formEmployee .body--contact-info {
    flex: 1;

}


/*--- footer ---*/
.formEmployee .container__footer {
    width: calc(100% - 64px);
    height: 100px;
    padding: 32px 0;
    margin: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid;
    box-sizing: border-box;
}