.button {
    min-width: 80px;
    height: 36px;
    border-radius: 4px;
    background: #409330;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 0 16px 0 16px;
    border: none;
    font-weight: bolder;

}


/* .button:focus,*/
.button:hover { 
    background-color: #73C663;
    cursor: pointer;
}

.main-page__header-button {
    color: #fff;
}

/* .button.white-background {
    background-color: #fff;
    border: 1px solid black;
    color: black;    
}

.button.white-background:hover{
    background-color: #ccc;
} */




